DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=gouanzouh
PORT=3000
JWT_SECRET=replace_me_with_secure_value

NODE_ENV=development

API_URL=http://localhost:3000

USE_SQLITE=false
SQLITE_FILE=dev.sqlite
